.home-parent {
  font-family: 'Roboto', Helvetica, sans-serif;
}

/* page content default */
.site-main {
  top: 0;
  left: 25%;
  width: 75%;
  height: 90%;
  position: absolute;
  padding-bottom: 30px !important;
}

.site-main-home {
  top: 0;
  left:25%;
  width:75%;
  height:100%;
  position: absolute;
}

.site-main-home:after {
  content: "";
  top: 0;
  left:25%;
  width:75%;
  height:90%;
  position: fixed;
  padding-top: 90px;
  padding-left:30px;
  padding-bottom: 30px;
  background:
    url(../images/electrical.jpg) center;
    background-size: cover;
    filter: grayscale(100%) opacity(0.10);
}

.page-title {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: rgb(56, 161, 126);
  color:white;
}