/* experience content */
.experience-body {
  display: flex;
  flex-direction: column;
  float: right;
  width: 97%;
}

.experience-current {
  margin-left: 30px;
  margin-bottom: 20px;
}

.experience-container {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-radius: 10px;
}

.experience-title-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid gray;
}

.experience-container-company {
  width: auto;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.experience-details {
  font-size: 1rem;
  padding-top: 20px;
}

.experience-details-description {
  font-style: italic;
  font-weight: 900;
}

.experience-details-achievements {
  padding-bottom: 10px;
}

.experience-details-time {
  background-color: rgb(209, 208, 205);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-left: -30px;
  margin-right: -30px;
  font-weight: 700;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.experience-past {
  padding-bottom: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.work-place-container {
  margin: auto;
}

.work-place-header {
  display: block;
  float: right;
  font-weight: 900;
  text-align: center;
  padding-top: 10px;
  margin: 0;
  width: 98%;
  background-color: white;
  border: none;
}

.work-place-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: right;
  width: 98%;
  height: 100%;
  background-color: white;
  border: none;
}

.work-place-company {
  padding: 20px;
  width: 15%;
}

@media screen and (max-width: 1080px) {
  .experience-body {
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 600;
    float: none;
  }

  .experience-title-company {
    font-size: 2.5rem;
  }

  .work-place-header {
    width: 100%;
    background-color: white;
    border: solid 2px white;
  }

  .work-place-companies {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    width: 980px;
    height: 100%;
    background-color: white;
    border: white;
  }

  .work-place-company {
    position: relative;
    width: 90%;
  }
}
