/* navbar style */
.person-content {
  display: block;
  color: White;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.person-picture {
  margin: 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.person-title-name {
  font-size: 22px;
  font-weight: 550;
  margin: 0;
}

.person-subtitle-job-title {
  font-size: 16px;
  font-weight: 250;
  margin: 0;
}

.site-nav-social {
  color: white;
  padding-left: 25px;
}

.pages {
  margin-top: 50px;
  list-style-type: none !important;
}

.list {
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  transition: all .2s ease-in-out !important;
}

.list:hover {
  text-decoration: underline;
}

.site-nav-main {
  display: block;
  position: static;
  text-align: left;
}

.site-nav-parent {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 25%;
  min-width: 250px;
  background:
     linear-gradient(
       rgba(59, 146, 117, 0.90),
       rgba(56, 161, 126,0.90)
     ),
     url(https://jeffreyleeportfolio.s3-us-west-1.amazonaws.com/coding.png);
  text-transform: uppercase;
}

.site-nav-pages {
  padding-top: 20px;
}

.block-social {
  font-size: 11px;
  font-weight: 300;
  margin: 15px;
}

.contacts {
  display: block;
  position: absolute;
  margin-left: 10px;
}

.contact-icons {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  filter: grayscale(100%);
  transition: all .2s ease-in-out;
}

.contact-icons:hover {
  transform: scale(1.1)
}