.cv-body {
  height: 87vh
}

.cv-container {
  height: 85%;
  padding-left: 30px;
  border: none;
}

iframe {
  padding: 0px;
}

.close-modal {
  position: absolute;
  top: 5%;
  right: 5%;
}

@media screen and (max-width: 1080px) {
  .cv-body {
    margin-top: 4rem;
  }
}