.contests {
  display: flex;
  justify-content: center;
  float: right;
  height: fit-content;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 15%;
  padding-right: 15%;
  margin-right: 5%;
  margin-bottom: 20px;
  width: 65%;
  background: lightgray;
  color: black;
}

.contest-card {
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
}

.contest-logo {
  width: auto;
  height: 100px;
}

.contest-category {
  font-weight: 600;
}

@media screen and (max-width: 1080px) {
  .contest-logo {
    width: auto;
    height: 200px;
  }
}