.welcome {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 100%;
  position: absolute;
  content: '';
  background-image: url(https://jeffreyleeportfolio.s3-us-west-1.amazonaws.com/electrical.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(100%) opacity(0.20);
}

.welcome-content {
  padding-top: 10%;
  margin-bottom: 15%;
  max-height: 338px;
}

.site-main-welcome-salutation {
  display: flex;
  justify-content: center;
  font-size: x-small;
}

.site-main-welcome {
  color: rgb(56, 161, 126);
}

.welcome-info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-main-welcome-start {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2.5em;
  font-weight: 300;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.site-main-welcome-end {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 300;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.site-main-welcome-info-roles {
  top: -50px;
  height: 40px;
  width: fit-content;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
}

.site-main-welcome-info-roles::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, #0d1117, rgba(255, 142, 113, 0));
}

.site-main-welcome-info-roles::after {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 142, 113, 0), #0d1117);
}

.welcome-highlight {
  position: relative;
  color: black;
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(56, 161, 126) !important;
}

.welcome-difference {
  margin-left: 10px;
  border-bottom: 5px solid rgb(56, 161, 126) !important;
  position: relative;
}

.about-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.role-list {
  float: left;
  color: rgb(56, 161, 126) ;
  margin: 0;
  padding: 0;
  -webkit-animation: scrollUp 6s ease-in-out infinite normal;
          animation: scrollUp 6s ease-in-out infinite normal;
}

.role-list .role {
  font-size: 2.5em;
  font-weight: 300;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
  list-style: none;
}

@-webkit-keyframes scrollUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}

@keyframes scrollUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}

@media screen and (max-width: 1080px) {
  .welcome {
    height: 50%;
  }

  .welcome-content {
    padding-top: 5%;
    margin-bottom: 45%;
  }

  .site-main-welcome-salutation {
    font-size: x-large;
    margin-bottom: -10px;
  }

  .site-main-welcome-start {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 90px;
  }

  .site-main-welcome-info-roles {
    top: 0px;
    height: 80px;
    width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
  }

  .role-list .role {
    font-size: 90px;
    font-weight: 300;
    margin-left: 10px;
  }

  .site-main-welcome-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 90px;
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  .about-mission {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: x-large;
  }

  @-webkit-keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }


  @keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }

}
